@font-face {
    font-family: "PS3";
    src: url("fonts/sce_ps3.ttf") format("truetype"); /* Update the path if necessary */
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(78, 68, 68);
    font-family: "PS3", Arial, sans-serif;
}

.top-bar{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.navbar {
    background-color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}